.post-wrap {
  padding: 0 20px;
  margin-top:1.5rem;
}
.user-line {
  display: flex;
  align-items: center;
  margin: 15px 0;
  img {
    display: inline-block;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    @media screen and (max-width: 1024px) {
      width: 30px;
      height: 30px;
    }
  }
  span {
    margin-left: 10px;
  }
}
.likes-line {
  margin: 8px 0 0px;
}
.id-line {
  margin: 5px 0;
  .content {
    margin-left: 10px;
  }
}
.img-line {
  width: 100%;
  max-height: 350px;
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
