.post-wrap:not(:first-child) {
  margin-top: 40px;
}
.user-line {
  display: flex;
  align-items: center;
  margin: 15px 0;
  img {
    display: inline-block;
    border-radius: 100%;
    width: 45px;
    height: 45px;
  }
  span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 10px;
  }
}
.likes-line {
  margin: 8px 0 0px;
  strong {
    font-size: 1.2rem;
  }
}
.id-line {
  margin: 5px 0;
  .id {
    strong {
      font-size: 1.5rem;
    }
  }
  .content {
    font-size: 1rem;
    margin-left: 10px;
  }
}
.date-line {
  font-size: 1.2rem;
}
.img-line{
  width:100%;
  height:350px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}
